<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990503357582-qof17sb1cucoq8geqphidi76jsu0jipc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990503357582-qof17sb1cucoq8geqphidi76jsu0jipc</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_3lYTHiXyiTblH2FBBUCOv2KWZo8TlA</string>
	<key>GCM_SENDER_ID</key>
	<string>990503357582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onairsoft.tapbible</string>
	<key>PROJECT_ID</key>
	<string>tapbible</string>
	<key>STORAGE_BUCKET</key>
	<string>tapbible.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990503357582:ios:5ff487f090507b10d48ddf</string>
	<key>DATABASE_URL</key>
	<string>https://tapbible.firebaseio.com</string>
</dict>
</plist>